.loginBody {
  background: linear-gradient(white, #c1f2cc, #1c5629);
  background-image: url("http://freedesignfile.com/upload/2016/03/Light-color-modern-vector-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.mainMenuBody {
  background: linear-gradient(white, #c1f2cc, #1c5629);
  background-image: url("https://wallpapercave.com/wp/xcFelMz.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.activitiesMenuBody {
  background: linear-gradient(white, #a7cfe5, #174660);
  background-image: url("http://buysellgraphic.com/images/graphic_preview/large/defocus_green_abstract_background_24166.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.signupBody {
  background: linear-gradient(white, #c1f2cc, #1c5629);
  background-image: url("http://bangaloreuniversity.ac.in/wp-content/uploads/2014/09/light-green-background-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.adviceBody {
  background: linear-gradient(white, #c1f2cc, #1c5629);
  background-image: url("http://pic.sc.chinaz.com/files/pic/pic9/201210/xpic7724.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.profileBody {
  background: linear-gradient(white, #c1f2cc, #1c5629);
  background-image: url("http://allswalls.com/images/abstract-art-colorful-colors-design-illustration-light-theme-wallpaper-19.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.profileformBody {
  background: linear-gradient(white, #c1f2cc, #1c5629);
  background-image: url("http://pic.sc.chinaz.com/files/pic/pic9/201210/xpic7724.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.restaurantsBody {
  background: linear-gradient(white, #c1f2cc, #1c5629);
  background-image: url("http://pic.sc.chinaz.com/files/pic/pic9/201210/xpic7724.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.couponsBody {
  background: linear-gradient(white, #c1f2cc, #1c5629);
  background-image: url("http://bangaloreuniversity.ac.in/wp-content/uploads/2014/09/light-green-background-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.postsBody {
  background: linear-gradient(white, #c1f2cc, #1c5629);
  background-image: url("http://images.all-free-download.com/images/graphiclarge/defocus_green_abstract_background_6817039.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.splashLogo {
  width: 100%;
  height: 100%;
}

.mainLogo {
  display: block;
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.fullLogo {
  display: block;
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.adviceLogo {
  display: block;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto
}

.mainMenuButton {
  background: #174660;
  color: white;
  font-weight: bold;
  box-shadow: 1px 1px 3px black;
  border-radius: 10px;
  border-bottom: 3px double white;
  border-left: 3px double white;
  border-top: 3px double #64db5c;
  border-right: 3px double #64db5c;
}

.activitiesMenuButton {
  color: white;
  box-shadow: 1px 1px 3px black;
  background: #174660;
  border-radius: 10px;
  border-bottom: 3px double white;
  border-left: 3px double white;
  border-top: 3px double #64db5c;
  border-right: 3px double #64db5c;
}

.loginButton {
  box-shadow: 1px 1px 3px grey;
  background: #4c78aa;
  color: white;
  font-weight: 500;
  border-radius: 10px;
}

.signUpButton {
  box-shadow: 1px 1px 3px grey;
  background: #4c78aa;
  color: white;
  font-weight: 500;
  border-radius: 10px;
}

.adviceSubmitButton {
  margin: 0 10px 0 10px;
  box-shadow: 1px 1px 3px black;
  background: #5add52;
  color: black;
  font-weight: bold;
}

.adviceClearButton {
  margin: 0 10px 0 10px;
  box-shadow: 1px 1px 3px black;
  background: #174660;
  font-weight: bold;
  color: white;
}

.allPostsButton {
  box-shadow: 1px 1px 3px black;
  background: #045491;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  border-bottom: 3px double white;
  border-left: 3px double white;
  border-top: 3px double #64db5c;
  border-right: 3px double #64db5c;
}

.profileSubmitButton {
  box-shadow: 1px 1px 3px black;
  background: #5add52;
  border-radius: 20px;
  color: black;
  font-weight: bold;
}

.menuHeader {
  text-align: center;
  color: #2d8432
}

.profileHeader {
  background: #174660;
}

.listItems {
  border-radius: 12px;
  box-shadow: 1px 1px 4px black;
  margin-bottom: 2%;
  margin-top: 2%;
}

.headerTitle {
  color: white;
  font-family: sans-serif;
}

.topPage {
  background: #2d8432;
}

.profileIcon {
  color: white;
}

.profileName {
  color: #174660;
  text-align: center;
}

.profileLocation {
  text-align: center;
}

.profileCategory {
  color: #174660;
}

.profileText {
  font-weight: bold;
}

.profile-image {
  display: block;
  width: 70%;
  height: 50%;
  height: auto;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20%;
  /*border: 4px double blue;*/
  box-shadow: 2px 2px 6px black;
}

.momentoInput {
  border-radius: 12px;
  box-shadow: 1px 1px 4px black;
}

.profileButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile-button-yes {
  box-shadow: 2px 2px 6px black;
  background: #64db5c;
  font-size: 1.5em;
  color: black;
  font-weight: bold;
  border-radius: 15px;
  max-width: 70%;
}

.profile-button-no {
  box-shadow: 1px 1px 3px black;
  background: #174660;
  font-weight: bold;
  color: white;
}

.activitiesHeader {
  background: #174660;
}

.mainHeader {
  background: #174660;
  border-bottom: 3px solid #64db5c;
}

.loginHeader {
  background: #4c78aa;
}

.couponsHeader {
  background: #277f18;
}

.icon {
  color: white;
}

.adviceInputBox {
  border-bottom: 2px navy solid;
  border-right: 2px navy solid;
  box-shadow: 1px 1px 4px navy;
  border-radius: 15px !important;
}

.profileForm {
  margin-bottom: 10px;
  border-radius: 4px;
  border-bottom: 1px navy solid;
  border-right: 1px navy solid;
  box-shadow: 1px 1px 4px navy;
  font-weight: bolder;
  padding: 10px;
}

.imageInput {
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 1px 1px 4px navy;
}

.profileMoms {
  min-height: 100vh;
  border-bottom: 5px solid navy;
}

.seeCommentsButton {
  border: 1px solid black;
  box-shadow: 1px 1px 3px black;
  background: #cdf2c9;
  margin-bottom: 10px;
}

.allPosts {
  border-radius: 6px;
  border: 1px solid #174660;
  box-shadow: 1px 1px 4px #174660;
  margin: 3px 0 3px 0;
  font-weight: bold;
  word-wrap: break-word;
  height: 80px;
  width: 95%;
  white-space: initial;
  background: linear-gradient(to left, #c8f4ee, white);
}

.commentInputBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.commentInfoBox {
  background: #cdf2c9;
  padding: 10px 0 10px 5px;
  border: 1px solid black;
  border-radius: 6px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 14px black;
}

input.postAnswers {
  border: 1px solid black;
  border-radius: 6px;
  padding-left: 10px;
}

.commentDisplay {
  font-weight: bolder;
  margin-bottom: 20px;
}

.commentSubmitButton {
  box-shadow: 1px 1px 3px black;
  background: #9dd7e8;
  color: black;
  font-weight: bold;
  margin: 0 5px 5px 0;
}

.editIcon {
  color: navy;
}
