<ion-view title="Profile" class="profileBody">
  <ion-header-bar class="profileHeader">
    <h2 class="headerTitle">My Profile</h2>
    <button class="button button-icon pull-right" ui-sref="mainmenu">
    <i class="icon ion-home"></i>
  </button>
  </ion-header-bar>
  <ion-content padding="true" class="has-header">
    <div class="profileMoms" ng-repeat="mom in $ctrl.mom">
      <img class="profile-image" src={{mom.image}}>
      <h1 class="profileName" ng-click="$ctrl.getID(mom)">{{mom.name}} <i class="editIcon icon ion-edit" ui-sref="profileform"></i></h1>
      <h4 class="profileLocation">{{mom.location}}</h4>
      <h3 class="profileCategory">Interests:</h3>
      <div class="show-list-numbers-and-dots">
        <h4 class="profileText"> {{mom.interests}}</h4>
      </div>
      <h3 class="profileCategory">Children:</h3>
      <h4 class="profileText">
         {{mom.children}}
      </h4>
      <div class="profileButtons">
        <button class="button button-positive button-block" ui-sref="profileform">Edit</button>
      </div>
    </div>
  </ion-content>
</ion-view>
